/* Estilos para el componente de ingreso-button */

ion-button {
    background-color: #007bff; /* Cambiar el fondo del botón */
    color: #fff; /* Cambiar el color del texto del botón */
    font-size: 18px; /* Cambiar el tamaño de fuente del texto */
    padding: 12px 24px; /* Agregar relleno al botón */
    border-radius: 5px; /* Redondear las esquinas del botón */
    display: block;
    margin-top: 30px;
  }
  
  /* Puedes seguir agregando más estilos según sea necesario */
  