<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistroAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-custom-input (usernameChanged)="username = $event"></app-custom-input>
  <app-custom-password-input (passwordChanged)="password = $event"></app-custom-password-input>
  <app-ingreso-button [username]="username" [password]="password"></app-ingreso-button>
  <app-forgot-password-button></app-forgot-password-button>  
</ion-content>
