/* Establece el fondo negro para todo el proyecto Ionic */
ion-content, ion-header, ion-footer, ion-toolbar, ion-tab-bar , main-container{
  --background: black;
  color: white; /* Cambia el color del texto a blanco para que sea legible en fondo negro */
}


/* Establece el fondo negro para el body si lo deseas (opcional) */
body {
  background-color: black;
}

/* Cambia el color del texto del body (opcional) */
body {
  color: white;
}
