ion-item {
  background-color: black;
  width: 90%;  
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 10px;
}

/* En tu archivo de estilo, por ejemplo, ingreso-button.component.scss */
.password-button {
font-size: 16px; /* Tamaño de fuente más pequeño */
padding: 5px 15px; /* Ajustar el relleno para hacerlo más pequeño */
color: #fff; /* Cambiar el color del texto a blanco */
border-radius: 10px; /* Agregar esquinas redondeadas */
margin: 10px 10px;
width: 100%;  
}

.password-button:hover {
background-color: #7a4714; /* Cambiar el color de fondo en el estado hover */
border-color: #84840e; /* Cambiar el color del borde en el estado hover */
}
